{% extends 'base.html' %}

{% block content %}

<div class = "menu" style="width: 40%; margin-left: 30%;">
    <button class="alert alert-primary" onclick="location.href={% url 'insert' %}" style="width:100%;">
        오늘 일한 시간 입력하기
    </button>
    <div class="alert alert-secondary" >
        이번 달 근무내용 보기 x
    </div>
    <button class="alert alert-success" onclick="location.href={% url 'total' %}" style="width:100%;">
        월 근무 계산
    </button>
    <div class="alert alert-danger" >
        체리쥬빌레 x
    </div>
    <div class="alert alert-warning" >
        바닐라 x
    </div>
    <div class="alert alert-info">
        슈팅스타 x
    </div>
</div>
<script>
var http = require("http");
setInterval(function() {
    http.get("http://jljy.herokuapp.com");
}, 1740000); // every 29 minutes (1740000)
</script>
{% endblock %}