{% extends 'base.html' %}

{% block content %}

<div class = "menu">
    <button class="alert alert-primary" onclick="location.href={% url 'insert' %}" style="width:100%;height:10%;">
        <h3>오늘 일한 시간 입력하기</h3>
    </button>
    <button class="alert alert-secondary" onclick="location.href={% url 'totalList'  %}" style="width:100%;height:10%;">
        <h3>이번 달 근무내용 보기</h3>
    </button>
    <button class="alert alert-success" onclick="location.href={% url 'total' %}" style="width:100%;height:10%;">
        <h3>월 근무 계산</h3>
    </button>
    <button class="alert alert-danger" style="width:100%;height:10%;">
        <h3>체리쥬빌레 x</h3>
    </button>
    <button class="alert alert-warning" style="width:100%;height:10%;">
        <h3>바닐라 x</h3>
    </button>
    <button class="alert alert-info" style="width:100%;height:10%;">
        <h3>슈팅스타 x</h3>
    </button>
</div>

{% endblock %}
