{% extends 'base.html' %}

{% block content %}
<div class = "menu" style="width: 80%; margin-left: 10%;">
    <form id="form" method="POST" action="{% url 'insertTime'%}">
    {% csrf_token %} 
    <div style="text-align:left;">
    <h5 style="text-align:center;">날짜 선택 :</h5>
    <input class="btn btn-outline-primary" type="date" id="date" name="date" style="margin-bottom:1%; margin-left:20%; height:12%; width:60%;"><br> 
    <h5 style="text-align:center;">시간 선택 :</h5>
    <input class="btn btn-outline-primary" type='time' name="startTime" value='10:00'style="margin-bottom:1%; margin-left:20%; height:12%; width:60%;"/><br>
    <input class="btn btn-outline-primary" type='time' name="endTime" value='14:00' style="margin-bottom:8%; margin-left:20%; height:12%; width:60%;"/><br>
    <a href="{% url 'home' %}" class="btn btn-outline-primary" style="margin-left:20%; width:20%;">뒤로</a>
    <input class="btn btn-outline-primary" type="submit" value="입력하기" style="width:40%;"/>
    </div>
    
</form>
</div>

<script>
    var today = new Date();
    today.setDate(today.getDate());
    document.getElementById('date').valueAsDate = today;
</script>

{% endblock %}