{% extends 'base.html' %}

{% block content %}

<div style="width:100%; text-align:center;">

<h4>현재까지 {{totalH}}시간 {{totalM}}분</h4>

<table class="table" style="width:60%; margin-left:20%; text-align:center;">
  <thead class="thead-light">
    <tr>
      <th scope="col">n</th>
      <th scope="col">날짜</th>
      <th scope="col">근무 시간</th>
    </tr>
  </thead>
  
  <tbody>
    {% for homes in homes.all %}
    <tr>
      <th scope="row">{{homes.id}}</th>
      <td>{{ homes.date }}</td>
      <td>{{ homes.hour }}시간 {{ homes.minute }}분</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>
{% endblock %}