{% extends 'base.html' %}

{% block content %}
<div style="width:100%; text-align:center;">
<input type="month"><br>
<h4>이번 달 총 근무 : {{totalH}}시간 {{totalM}}분</h4>
<h4>이번 달 월급 : x원</h4>
<h4></h4>
<table class="table" style="width:90%; margin-left:5%; text-align:center;">
  <thead class="thead-light">
    <tr>
      <th scope="col">날짜</th>
      <th scope="col">요일</th>
      <th scope="col">근무 시작</th>
      <th scope="col">근무 종료</th>
      <th scope="col">근무 시간</th>
      <th scope="col">수정</th>
    </tr>
  </thead>
  
  <tbody>
    {% for homes in homes.all %}
    <tr>
      <!--- <td scope="row">{{ forloop.counter }}</td> --->
      <td><h4>{{ homes.date|date:'Y-m-d' }}</h4></td>
      <td><h4>{{ homes.date|date:'D' }}</h4></td>
      <td><h4>{{ homes.startH|time:'H:i' }}</h4></td>
      <td><h4>{{ homes.endH|time:'H:i' }}</h4></td>
      <td><h4>{{ homes.hour }}시간 {{ homes.minute }}분</h4></td>
      <td><a href="{% url 'modify' homes.id %}" class="btn btn-outline-success">수정</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}