<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
<body style="text-align: center;">
<img src="https://ncache.ilbe.com/files/attach/new/20160125/377678/5945913523/7378697533/991086c878f571a5b3669b5abc9c79c5.jpg" style="width:10%; height:20%; margin-bottom: 1%; margin-top:5%;"/>
{% block content %}
{% endblock %}
</body>

</html>